.mat-list-item{
    height: 110px;
    margin: 20px;
    overflow: hidden;
    img{
        height: 50px;
        width: auto;
        border-radius: 50%;
    }
    p{
        
        margin: 0px;
    }
}
