p{
    margin: 0px;
}
mat-list-item{
    margin: 20px;
}
.half-width{
    width:45%
}
.full-width{
    width:95%
}
.form-size{
    width:75%
}
.underline{
    font-weight: bold;
    text-decoration: underline;
}
